*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.category-btn::before{

    margin: 0px 60px;
}

#root {
  /* width: 98%;  */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}






